<a href="{{ url_for('main_bp.game_details', season=selected_season, game_code=g.game_code) }}" class="game-card-link">
<div class="game-card-full">

    <div class="game-info">
        <div class="game-datetime">
            {{ g.game_date.strftime('%d %b %Y %H:%M') }}
        </div>
        {% if g.arena_name %}
        <div class="game-datetime">
            {{ g.arena_name }}
        </div>
        {% endif %}
    </div>

    <div class="teams-row">
        <!-- HOME -->
        <div class="team home">
            <span class="team-name">{{ g.home_name }}</span>
            <img src="{{ team_logo(g.home_code) }}" class="team-logo">
            <span class="team-score">{% if g.home_score is not none %}{{ g.home_score }}{% else %}-{% endif %}</span>
        </div>

        <span class="vs">–</span>

        <!-- AWAY -->
        <div class="team away">
            <span class="team-score">{% if g.away_score is not none %}{{ g.away_score }}{% else %}-{% endif %}</span>
            <img src="{{ team_logo(g.away_code) }}" class="team-logo">
            <span class="team-name">{{ g.away_name }}</span>
        </div>

        <!-- Details -->
    </div>

</div>
</a>