<thead>
  <tr>
    <th class="group-start"></th>
    <th class="group-start">RND</th>

    <th colspan="3" class="group-start">MATCHUP</th>

    <th class="group-start">MIN</th>
    <th>PTS</th>
    <th>REB</th>
    <th>AST</th>
    <th>STL</th>
    <th>BLK</th>

    <th class="group-start">FG2</th>
    <th>FG3</th>
    <th>FT</th>

    <th class="group-start">PIR</th>
  </tr>

  <tr>
    <th class="group-start"></th>
    <th class="group-start"></th>

    <th class="group-start">HOME</th>
    <th>SCORE</th>
    <th>AWAY</th>

    <th class="group-start"></th>
    <th></th><th></th><th></th><th></th><th></th>

    <th class="group-start">M/A</th>
    <th>M/A</th>
    <th>M/A</th>

    <th class="group-start"></th>
  </tr>
</thead>
