@import url("_game_header.css");
@import url("boxscore.css");
@import url("linescore.css");
@import url("team_stats.css");
@import url("article.css");
@import url("info.css");


.game-top-grid {
  display: grid;
  grid-template-columns: 2fr 1fr; /* A1 širi, A2 uži */
  gap: 20px;
  margin-bottom: 24px;
}
