{% extends "pages/layout.html" %}

{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/game_details/game_details.css') }}">
{% endblock %}

{% block extra_js %}
<script src="{{ url_for('static', filename='js/tabs.js') }}"></script>
{% endblock %}


{% block content %}
<div class="page-wrapper game-details-page">

{% if game['played'] %}
  {% include "pages/game_details/played.html" %}
{% else %}
  {% include "pages/game_details/not_played.html" %}
{% endif %}

</div>
{% endblock %}

