{% extends "pages/layout.html" %}
{% from "components/select.html" import filter_select %}
{% block content %}

<h2 class="mt-4 mb-3">Games</h2>

<!-- ========================= -->
<!-- Filter bar -->
<!-- ========================= -->
<form method="get" class="game-filter">
    <!-- Season -->

{{ filter_select(
    name="season",
    items=seasons,
    value_attr="code",
    label_attr="label",
    selected_value=season,
    id="seasonSelect"
) }}
    <!-- Phase -->
{{ filter_select(
    name="phase",
    items=phases,
    value_attr="code",
    label_attr="label",
    selected_value=phase
) }}

    <!-- Team -->
    {{ filter_select(
      name="team",
      items=sel_teams,
      value_attr="code",
      label_attr="label",
      selected_value=code,
      empty_label="All teams"
  ) }}

  <!-- zadrži round -->
  <input type="hidden" name="round" value="{{ selected_round }}">

</form>

<!-- ========================= -->
<!-- LEAGUE VIEW -->
<!-- ========================= -->
{% if mode == "LEAGUE" %}

<div class="round-slider">
    {% for r in rounds %}
        <a href="?season={{ season }}&round_type={{ phase }}&round={{ r.round }}">
            Round {{ r.round }}
        </a>
    {% endfor %}
</div>


<div class="round-games">
    {% if games %}
       {% for g in games %}
        <a href="{{ url_for('main_bp.game_details', season=season, game_code=g.game_code) }}" class="game-card-link">
        {% include "components/game_card_full.html" %}
        </a>
        {% endfor %}

    {% else %}
        <p>No games in this round.</p>
    {% endif %}
</div>

{% else %}

<!-- ========================= -->
<!-- TEAM VIEW -->
<!-- ========================= -->

{% if next_game %}
          <h5 class="mt-3">Next Game</h5>
          <div class="next-game">
            {% set g = next_game %}
            {% include "components/game_card_full.html" %}
          </div>
        {% endif %}

        {% if results %}
        <h5 class="mt-4">Results</h5>
        <div class="results-games">
          {% for g in results %}
            {% include "components/game_card_full.html" %}
          {% endfor %}
        </div>
        {% endif %}

        {% if upcoming %}
        <h5 class="mt-4">Upcoming Games</h5>
        <div class="upcoming-games">
          {% for g in upcoming %}
            {% include "components/game_card_full.html" %}
          {% endfor %}
        </div>
        {% endif %}



{% endif %}
{% endblock %}
