{% extends "pages/layout.html" %}

{% block content %}

<h2 class="mt-4 mb-3">Standings</h2>


<form method="get" class="game-filter">
    <select name="season" onchange="this.form.submit()">
      <option value="E2025" {% if selected_season=='E2025' %}selected{% endif %}>2025–26</option>
      <option value="E2024" {% if selected_season=='E2024' %}selected{% endif %}>2024–25</option>
    </select>

    <select name="round" onchange="this.form.submit()">
      {% for r in rounds %}
        <option value="{{ r.round }}" {% if r.round==selected_round %}selected{% endif %}>
          Round {{ r.round }}
        </option>
      {% endfor %}
    </select>
</form>

<table class="table table-sm table-striped mt-4 standings-table">
  <thead class="table-light">
    <tr>

     <th class="text-end">#</th>
      <th class="text-center logo-col"></th>
      <th class="text-start">Team</th>
      <th class="text-end">GP</th>
      <th class="text-end">W</th>
      <th class="text-end">L</th>
      <th class="text-end">PF</th>
      <th class="text-end">PA</th>
      <th class="text-end">+/-</th>
      <th class="text-end">Home</th>
      <th class="text-end">Away</th>
      <th class="text-end">OT</th>
      <th class="text-end">Last 5</th>
      <th class="text-end">Last 10</th>
      <th class="text-end">Win %</th>
      <th class="text-end">∇Δ</th>
    </tr>
  </thead>
  <tbody>
    {% for s in standings %}
     <tr>
      <td class="text-end">{{ s.team_position }}</td>
       <td class="text-center logo-col">
  <img src="{{ team_logo(s.team_code) }}" class="team-logo">
</td>

      <td class="text-start">{{ s.team_name }}</td>
       <td class="text-end">{{ s.games_played }}</td>
       <td class="text-end">{{ s.games_won }}</td>
       <td class="text-end">{{ s.games_lost }}</td>
       <td class="text-end">{{ s.points_for }}</td>
       <td class="text-end">{{ s.points_against }}</td>
       <td class="text-end">{{ s.points_diff }}</td>
       <td class="text-end">{{ s.home_record }}</td>
       <td class="text-end">{{ s.away_record }}</td>
       <td class="text-end">{{ s.overtime_record }}</td>
        <td class="text-end last5">{% for r in s.last5_form %}{% if r == 'W' %}<span class="form form-win">W</span>{% elif r == 'L' %}<span class="form form-loss">L</span>{% else %}<span class="form">{{ r }}</span>{% endif %}{% endfor %}</td>
       <td class="text-end">{{ s.last_ten_record }}</td>
       <td class="text-end">{{ s.win_percentage }}%</td>
         <td class="text-end">
          {% if s.position_change == 'Up' %}
            <span class="delta-up">Δ</span>
          {% elif s.position_change == 'Down' %}
            <span class="delta-down">∇</span>
          {% else %}
            <span class="delta-equal">–</span>
    {% endif %}
</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
