{% extends "pages/layout.html" %}

{% block content %}
{% from "components/stat-card.html" import stat_card %}
<!-- Top header panel -->

<div class="team-header d-flex align-items-center mb-4">

  <div class="team-details-info">{{team.club_info}}  </div>


  <!-- Watermark grb -->
  <img src="{{team_logo(team.club_code) }}"
       alt="{{ team.club_name }}"
       class="team-header-logo">

  <!-- Info desno -->
  <div class="team-header-info ms-auto text-end">
  <div class="team-meta">
    <div class="meta-item"><span class="meta-label">Country:</span> {{ team.country_name }}</div>
    <div class="meta-item"><span class="meta-label">City:</span> {{ team.city }}</div>
    <div class="meta-item"><span class="meta-label">Arena:</span> {{ team.arena_name }}</div>
    <div class="meta-item"><span class="meta-label">President:</span> {{ team.president }}</div>
    <div class="meta-item"><span class="meta-label">Phone:</span> {{ team.phone }}</div>
  </div>
</div>

</div>

 <h2 class="team-name">{{ team.club_name }}</h2>

<ul class="bb-tabs" data-tabs data-tabs-content="#team-tabs">
  <li>
    <button class="bb-tab active" data-tab-target="#roster">
      Roster
    </button>
  </li>
  <li>
    <button class="bb-tab" data-tab-target="#games">
      Games
    </button>
  </li>
  <li>
    <button class="bb-tab" data-tab-target="#stats">
      Stats
    </button>
  </li>
</ul>


<div class="bb-tabs-content" id="team-tabs" >

  <!-- Roster -->
<div class="bb-tab-panel active" id="roster">

  {% for pos in position_order %}
    {% if grouped_roster[pos] %}

      <h5 class="position-title">{{ pos }}</h5>

      <div class="persons-grid">
        {% for player in grouped_roster[pos] %}
        <a href="{{ url_for('player_profile', person_code=player.person_code) }}" class="player-card-link">
          <div class="person-card">
            <div class="person-img">
              <img src="{{ person_img(player.club_code, player.person_code) }}"
                   alt="{{ player.formatted_name }}">
            </div>

            <div class="person-name">
              <div class="first-name">{{ player.first_name }}</div>
              <div class="last-name">{{ player.last_name }}</div>
            </div>

            <div class="player-number">
              <span class="jersey-prefix">#</span>{{ player.dorsal }}
            </div>
          </div>
        </a>
        {% endfor %}
      </div>

    {% endif %}
  {% endfor %}
   {% if coaches %}
   <h5 class="position-title">Coaches</h5>

    <div class="persons-grid">
      {% for coach in coaches %}
        <a href="{{ url_for('player_profile', person_code=coach.person_code) }}"
           class="person-card coach">

          <div class="person-img">
            <img src="{{ person_img(coach.club_code, coach.person_code) }}"
                 alt="{{ coach.formatted_name }}">
          </div>

          <div class="person-name">
            <div class="coach-title">{{ coach.person_type_name }}</div>
            <div class="first-name">{{ coach.first_name }}</div>
            <div class="last-name">{{ coach.last_name }}</div>
          </div>

        </a>
      {% endfor %}
    </div>
  {% endif %}

</div>


  <!-- Games -->
  <div class="bb-tab-panel" id="games">

    <!-- Seasons filter -->
    <div class="games-filters mb-3">
      <select id="seasonSelectGames" class="form-select w-auto">
        {% for s in seasons %}
          <option value="{{ s.code }}"
            {% if s.code == selected_season %}selected{% endif %}>
            {{ s.label }}
          </option>
        {% endfor %}
      </select>
    </div>

        {% if next_game %}
          <h5 class="mt-3">Next Game</h5>
          <div class="next-game">
            {% set g = next_game %}
            {% include "components/game_card_full.html" %}
          </div>
        {% endif %}

        {% if results %}
        <h5 class="mt-4">Results</h5>
        <div class="results-games">
          {% for g in results %}
            {% include "components/game_card_full.html" %}
          {% endfor %}
        </div>
        {% endif %}

        {% if upcoming %}
        <h5 class="mt-4">Upcoming Games</h5>
        <div class="upcoming-games">
          {% for g in upcoming %}
            {% include "components/game_card_full.html" %}
          {% endfor %}
        </div>
        {% endif %}

  </div>

   <!-- STATS -->
  <div class="bb-tab-panel" id="stats">

    <div class="row g-3 mb-4">
    {% for stat in team_stats_list %}
    <div class="col-md-2">
        {{ stat_card(stat.label, "%.1f"|format(stat.avg), stat.tot, stat.highlight) }}
    </div>
    {% endfor %}
    </div>


      <div class="table-responsive mt-4">
  <table class="table table-hover align-middle player-stats-table">
   <thead>
  <tr>
    <!-- bez grupisanja -->
   <th class="group-start">#</th>
    <th class="group-start">Player</th>
    <th class="group-start">Played</th>

    <!-- TIME (grupa od 2) -->
    <th colspan="2" class="group-start">Time</th>

    <!-- POINTS -->
    <th colspan="2" class="group-start">Points</th>

    <!-- REBOUNDS -->
    <th colspan="2" class="group-start">Rebounds</th>

    <!-- ASSISTS -->
    <th colspan="2" class="group-start">ASSISTS</th>

    <!-- STEALS -->
    <th colspan="2" class="group-start">STEALS</th>

    <!-- BLOCKS -->
    <th colspan="2" class="group-start">BLOCKS</th>

    <!-- FG2 -->
    <th colspan="2" class="group-start">FG2</th>

    <!-- FG3 -->
    <th colspan="2" class="group-start">FG3</th>

    <!-- FT -->
    <th colspan="2" class="group-start">FT</th>

    <!-- PIR -->
    <th colspan="2" class="group-start">PIR</th>
  </tr>

  <tr>

     <th class="group-start"></th>
    <th class="group-start"></th>
    <th class="group-start"></th>

    <!-- TIME -->
    <th class="group-start">T</th>
    <th>A</th>

    <!-- POINTS -->
    <th class="group-start">T</th>
    <th>A</th>

    <!-- RB -->
    <th class="group-start">T</th>
    <th>A</th>

    <!-- AS -->
    <th class="group-start">T</th>
    <th>A</th>

    <!-- ST -->
    <th class="group-start">T</th>
    <th>A</th>

    <!-- BL -->
    <th class="group-start">T</th>
    <th>A</th>

    <!-- FG2 -->
    <th class="group-start">M/A</th>
    <th>%</th>

    <!-- FG3 -->
    <th class="group-start">M/A</th>
    <th>%</th>

    <!-- FT -->
    <th class="group-start">M/A</th>
    <th>%</th>

    <!-- PIR -->
    <th class="group-start">T</th>
    <th>A</th>
  </tr>
</thead>

    <tbody>
      {% for p in players_stats %}
      <tr>

        <td>{{ p.dorsal }}</td>
        <td class="player-name-cell">
  <a href="{{ url_for('player_profile', person_code=p.person_code) }}"
     class="player-link">
    {{ p.person_name }}
  </a>
</td>
        <td>{{ p.acc_games_played }}</td>
        <td class="group-start team-cell">{{ (p.acc_time_played_sec // 60) }}:{{ '%02d' % (p.acc_time_played_sec % 60) }}</td>
         <td>{{ (p.avg_time_played_sec // 60) }}:{{ '%02d' % (p.avg_time_played_sec % 60) }}</td>
        <td class="group-start team-cell">{{ p.acc_points }}</td>
        <td>{{ "%.1f"|format(p.avg_points ) }}</td>
        <td class="group-start team-cell">{{ p.acc_rebounds_total }}</td>
        <td>{{ "%.1f"|format(p.avg_rebounds_total ) }}</td>
        <td class="group-start team-cell">{{ p.acc_assists }}</td>
        <td>{{ "%.1f"|format(p.avg_assists) }}</td>
        <td class="group-start team-cell">{{ p.acc_steals }}</td>
        <td>{{ "%.1f"|format(p.avg_steals) }}</td>
        <td class="group-start team-cell">{{ p.acc_blocks_favour }}</td>
        <td>{{ "%.1f"|format(p.avg_blocks_favour) }}</td>
        <td class="group-start team-cell">{{ p.acc_fg2_made }}/{{ p.acc_fg2_attempted }}</td>
        <td>{{ "%.1f"|format(p.acc_fg2_num * 100) }}%</td>
        <td class="group-start team-cell">{{ p.acc_fg3_made }}/{{ p.acc_fg3_attempted }}</td>
        <td>{{ "%.1f"|format(p.acc_fg3_num * 100) }}%</td>
        <td class="group-start team-cell">{{ p.acc_ft_made }}/{{ p.acc_ft_attempted }}</td>
        <td>{{ "%.1f"|format(p.acc_ft_num * 100) }}%</td>
        <td class="group-start team-cell">{{ p.acc_valuation }}</td>
        <td>{{ "%.1f"|format(p.avg_valuation) }}</td>
      </tr>
      {% endfor %}

     <!-- TEAM TOTAL -->
  <tr>
    <td></td>
    <td>TOTALS</td>
    <td>{{ team_stats.acc_games_played }}</td>
    <td>{{ (5*team_stats.acc_time_played // 60) }}:{{ '%02d' % (team_stats.acc_time_played % 60) }}</td>
    <td>{{ (5*team_stats.avg_time_played // 60) }}:{{ '%02d' % (team_stats.avg_time_played % 60) }}</td>
    <td>{{ team_stats.acc_points }}</td>
    <td>{{ "%.1f"|format(team_stats.avg_points) }}</td>
    <td>{{ team_stats.acc_total_rebounds }}</td>
    <td>{{ "%.1f"|format(team_stats.avg_total_rebounds)}}</td>
    <td>{{ team_stats.acc_assistances  }}</td>
     <td>{{ "%.1f"|format(team_stats.avg_assistances)}}</td>
    <td>{{ team_stats.acc_steals }}</td>
    <td>{{ "%.1f"|format(team_stats.avg_steals)}}</td>
    <td>{{ team_stats.acc_blocks_favour }}</td>
     <td>{{ "%.1f"|format(team_stats.avg_blocks_favour)}}</td>
    <td>{{ team_stats.acc_fg2_txt }}</td>
    <td>{{ "%.1f"|format(team_stats.acc_fg2_num * 100) }}%</td>
    <td>{{ team_stats.acc_fg3_txt}}</td>
    <td>{{ "%.1f"|format(team_stats.acc_fg3_num * 100) }}%</td>
    <td>{{ team_stats.acc_ft_txt }}</td>
    <td>{{ "%.1f"|format(team_stats.acc_ft_num * 100) }}%</td>
    <td>{{ team_stats.acc_valuation }}</td>
    <td>{{ "%.1f"|format(team_stats.avg_valuation)}}</td>
  </tr>




    </tbody>
  </table>
</div>


   </div>

</div>

{% endblock %}
