<div class="game-boxscore">

  <!-- HOME TEAM -->
  <div class="boxscore-card">

    <div class="boxscore-title">
      <img src="{{ team_logo(game.home_code) }}">
      <span>{{ game.home_name }}</span>
    </div>

    <table class="boxscore-table">
      <thead>
        <tr>
          <th>#</th>
          <th>Player</th>
          <th>MIN</th>
          <th>PTS</th>
          <th>REB</th>
          <th>AST</th>
          <th>STL</th>
          <th>BLK</th>
          <th>+/-</th>
          <th>VAL</th>
        </tr>
      </thead>
      <tbody>
        {% for p in home_players %}
        <tr>
          <td>{{ p.dorsal }}</td>
          <td>
            <a href="{{ url_for('main_bp.person_profile', person_code=p.person_code) }}">
              {{ p.player_name }}
            </a>
          </td>
          <td>{{ p.minutes }}</td>
          <td>{{ p.points }}</td>
          <td>{{ p.rebounds_total }}</td>
          <td>{{ p.assists }}</td>
          <td>{{ p.steals }}</td>
          <td>{{ p.blocks_favour }}</td>
          <td>{{ p.plus_minus }}</td>
          <td><b>{{ p.valuation }}</b></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>

  </div>


  <!-- AWAY TEAM -->
  <div class="boxscore-card">

    <div class="boxscore-title">
      <img src="{{ team_logo(game.away_code) }}">
      <span>{{ game.away_name }}</span>
    </div>

    <table class="boxscore-table">
      <thead>
        <tr>
          <th>#</th>
          <th>Player</th>
          <th>MIN</th>
          <th>PTS</th>
          <th>REB</th>
          <th>AST</th>
          <th>STL</th>
          <th>BLK</th>
          <th>+/-</th>
          <th>VAL</th>
        </tr>
      </thead>
      <tbody>
        {% for p in away_players %}
        <tr>
          <td>{{ p.dorsal }}</td>
          <td>
            <a href="{{ url_for('main_bp.person_profile', person_code=p.person_code) }}">
              {{ p.player_name }}
            </a>
          </td>
          <td>{{ p.minutes }}</td>
          <td>{{ p.points }}</td>
          <td>{{ p.rebounds_total }}</td>
          <td>{{ p.assists }}</td>
          <td>{{ p.steals }}</td>
          <td>{{ p.blocks_favour }}</td>
          <td>{{ p.plus_minus }}</td>
          <td><b>{{ p.valuation }}</b></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>

  </div>

</div>
