<div class="game-linescore-wrapper">

  <table class="bb-linescore-table">

  <thead>
    <tr>
      <th class="col-team"></th>

      {% for q in quarters %}
        <th>{{ q }}</th>
      {% endfor %}

      {% if has_ot %}
        <th class="col-ot">OT</th>
      {% endif %}

      <th class="col-total">T</th>
    </tr>
  </thead>

    <tbody>
    <tr>
      <td class="team-cell">
        <img src="{{ team_logo(game['home_code']) }}">
        {{ game['home_code'] }}
      </td>

      {% for p in line_score.home %}
        <td class="num">{{ p }}</td>
      {% endfor %}



      <td class="num strong">{{ game['home_score'] }}</td>
    </tr>

    <tr>
      <td class="team-cell">
        <img src="{{ team_logo(game['away_code']) }}">
        {{ game['away_code'] }}
      </td>

      {% for p in line_score.away %}
        <td class="num">{{ p }}</td>
      {% endfor %}


      <td class="num strong">{{ game['away_score'] }}</td>
    </tr>
  </tbody>

</table>



</div>
