<div class="game-team-stats">

  <div class="team-stats-card">

    <h5 class="team-stats-title">Team stats</h5>

    <table class="team-stats-table">
      <tbody>

        <tr>
          <td class="stat-home">{{ team_stats.home.points }}</td>
          <td class="stat-name">Points</td>
          <td class="stat-away">{{ team_stats.away.points }}</td>
        </tr>

        <tr>
          <td class="stat-home">{{ team_stats.home.rebounds }}</td>
          <td class="stat-name">Rebounds</td>
          <td class="stat-away">{{ team_stats.away.rebounds }}</td>
        </tr>

        <tr>
          <td class="stat-home">{{ team_stats.home.assists }}</td>
          <td class="stat-name">Assists</td>
          <td class="stat-away">{{ team_stats.away.assists }}</td>
        </tr>

        <tr>
          <td class="stat-home">{{ team_stats.home.turnovers }}</td>
          <td class="stat-name">Turnovers</td>
          <td class="stat-away">{{ team_stats.away.turnovers }}</td>
        </tr>

        <tr>
          <td class="stat-home">{{ team_stats.home.steals }}</td>
          <td class="stat-name">Steals</td>
          <td class="stat-away">{{ team_stats.away.steals }}</td>
        </tr>

        <tr>
          <td class="stat-home">{{ team_stats.home.blocks }}</td>
          <td class="stat-name">Blocks</td>
          <td class="stat-away">{{ team_stats.away.blocks }}</td>
        </tr>

      </tbody>
    </table>

  </div>

</div>
