<div class="game-linescore">

  <table class="linescore-table">
    <thead>
      <tr>
        <th></th>
        {% for q in quarters %}
          <th>{{ q }}</th>
        {% endfor %}
        <th>T</th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td class="team-cell">
          <img src="{{ team_logo(game.home_code) }}">
          {{ game.home_name }}
        </td>

        {% for p in line_score.home %}
          <td>{{ p }}</td>
        {% endfor %}

        <td class="total-cell">{{ game.home_score }}</td>
      </tr>

      <tr>
        <td class="team-cell">
          <img src="{{ team_logo(game.away_code) }}">
          {{ game.away_name }}
        </td>

        {% for p in line_score.away %}
          <td>{{ p }}</td>
        {% endfor %}

        <td class="total-cell">{{ game.away_score }}</td>
      </tr>
    </tbody>
  </table>

</div>
