<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title href="/">EuroLeague Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/volt.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/custom.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/games.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
</head>
<body>
    <!-- Sidebar -->
   <nav class="navbar">
    <ul class="navbar-nav flex-row justify-content-center w-100">
        {% for team in teams_sidebar %}
        <li class="nav-item mx-2">
            <a class="nav-link d-flex align-items-center"
               href="/teams/{{ team.club_code }}">
                <img src="{{ team_logo(team.club_code) }}" width="28" class="me-2">
                {{ team.name }}
            </a>
        </li>
        {% endfor %}
    </ul>
</nav>

    <!-- Topbar -->
    {% include 'navbar.html' %}

    <!-- Main Content -->
    <main class="main-content">
        {% block content %}{% endblock %}
    </main>

<script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>
</html>
